- name: Install dirmngr
  become: true
  ansible.builtin.apt:
    name: dirmngr
    state: present
    update_cache: true

- name: Add ansible repository
  # ansible directly available in ubuntu 20.04: https://github.com/ansible/ansible/pull/69161
  when: ansible_facts['distribution_major_version'] | int < 20
  become: true
  ansible.builtin.apt_repository:
    repo: 'ppa:ansible/ansible'
    state: present

- name: Install apt packages
  become: true
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400
    name:
    - slurm-wlm
    - slurm-wlm-basic-plugins
    - slurm-wlm-basic-plugins-dev
    - munge
    - sendmail
    - ansible

- name: Hide slurm user (created by slurm package) on login screens
  become: true
  community.general.ini_file:
    path: "/var/lib/AccountsService/users/slurm"
    section: "User"
    option: "SystemAccount"
    value: "true"

- name: Create directories for slurm
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ slurm_user }}"
  with_items:
  - /var/run/slurm-llnl
  - /var/lib/slurm-llnl/slurmd
  - /var/lib/slurm-llnl/slurmctld
  - /var/log/slurm-llnl
    # See issue and comments therein
    # https://github.com/Azure/azure-quickstart-templates/issues/1796
  - /var/spool/slurmd

# Used configurator for generating file
# (make sure to select the correct SLURM version!)
# https://slurm.schedmd.com/configurator.html
- name: Copy slurm configuration template
  become: true
  ansible.builtin.template:
    src: slurm.conf
    owner: "{{ slurm_user }}"
    dest: /etc/slurm-llnl/slurm.conf
  vars:
    # must match those defined in the .service files
    # changed from surm version 17 -> 19
    slurm_pid_dir: "{{ '/var/run/slurm-llnl' if ansible_facts['distribution_major_version'] | int < 20 else '/run' }}"
  register: conf_template

- name: Include resources service tasks
  ansible.builtin.include_tasks: resources_service.yml

# munge key already created by apt-get install
# will not overwrite key due to 'creates' flag
# but useful to avoid prompts
- name: Create munge key
  become: true
  ansible.builtin.command: /usr/sbin/create-munge-key -f
  args:
    creates: "/etc/munge/munge.key"

# munge should start before slurm daemons
# https://slurm.schedmd.com/quickstart_admin.html
- name: Start munge service
  become: true
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
  with_items:
  - munge

- name: Start slurm services
  become: true
  ansible.builtin.service:
    name: "{{ item }}"
    state: started
  with_items:
  - slurmctld
  - slurmd
# slurmdbd does not exist in SLURM 15.08
#    - slurmdbd

- name: Import tests tasks
  ansible.builtin.import_tasks: tests.yml
  when: run_tests is defined and run_tests
