- name: Install dirmngr
  become: true
  apt:
    name: dirmngr
    state: present
    update_cache: true

- name: add ansible repository
  # ansible directly available in ubuntu 20.04: https://github.com/ansible/ansible/pull/69161
  when: ansible_facts['distribution_major_version'] | int < 20
  become: true
  apt_repository:
    repo: 'ppa:ansible/ansible'
    state: present

- name: Install apt packages
  become: true
  apt:
    update_cache: true
    cache_valid_time: 86400
    name:
    - slurm-wlm
    - slurm-wlm-basic-plugins
    - slurm-wlm-basic-plugins-dev
    - munge
    - sendmail
    - ansible

- name: hide slurm user (created by slurm package) on login screens
  become: true
  ini_file:
    path: "/var/lib/AccountsService/users/slurm"
    section: "User"
    option: "SystemAccount"
    value: "true"

# You can use the configurator for generating a config file (make sure to select the correct SLURM version!):
# https://slurm.schedmd.com/configurator.html
- name: Copy slurm configuration template to slurm folder
  become: true
  template:
    src: slurm.conf
    dest: /etc/slurm/slurm.conf
    owner: "{{ slurm_user }}"
  vars:
    slurm_pid_dir: /run
  register: conf_template

- include_tasks: resources_service.yml

# munge key already created by apt-get install
# will not overwrite key due to 'creates' flag
# but useful to avoid prompts
- name: create munge key
  become: true
  command: /usr/sbin/create-munge-key -f
  args:
    creates: "/etc/munge/munge.key"

# munge should start before slurm daemons
# https://slurm.schedmd.com/quickstart_admin.html
- name: start munge service
  become: true
  service:
    name: "{{ item }}"
    state: started
  with_items:
  - munge

- name: start slurm services
  become: true
  service:
    name: "{{ item }}"
    state: started
  with_items:
  - slurmctld
  - slurmd
# slurmdbd does not exist in SLURM 15.08
#    - slurmdbd

- import_tasks: tests.yml
  when: run_tests is defined and run_tests
