# Adds a system service that re-configures the slurm compute resources on startup
# Note: This is necessary when preparing image that can start on a different hardware than it was built on

- name: Create configuration update playbook
  become: true
  ansible.builtin.template:
    src: config-playbook.yml.j2
    dest: /etc/slurm-llnl/update-playbook.yml
    mode: "0644"

- name: Copy configuration update executable
  become: true
  ansible.builtin.copy:
    src: slurm-resources.sh
    dest: /usr/bin/slurm-resources
    mode: u=rwx,g=rx,o=rx

- name: Add slurm-resources as system service
  become: true
  ansible.builtin.copy:
    src: slurm-resources.service
    dest: /etc/systemd/system
    owner: "{{ root_user | default('root') }}"
    group: "{{ root_user | default('root') }}"
    mode: "0644"
  when: ansible_service_mgr == "systemd"

- name: Setup slurm-resources system service (systemd)
  become: true
  ansible.builtin.systemd:
    name: slurm-resources.service
    enabled: "{{ slurm_resources_service_enabled }}"
  when: ansible_service_mgr == "systemd"
