- name: Run configuration update script
  become: true
  ansible.builtin.command: /usr/bin/slurm-resources -e restart_on_change=true
  changed_when: false

- name: Create test directory
  ansible.builtin.file:
    path: "{{ slurm_test_folder }}"
    state: directory
    mode: "0755"

- name: Copy test submission files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ slurm_test_folder }}"
    mode: u=rwx,g=rx
  with_items:
  - test-submit.sh
  - job.sh

# in case the node is stuck in state "drain", recover via
# sudo -su slurm scontrol
# scontrol: update NodeName=qmobile State=DOWN Reason="undraining"
# scontrol: update NodeName=qmobile State=RESUME
- name: Do test submission
  ansible.builtin.command: "{{ slurm_test_folder }}/test-submit.sh"
  args:
    creates: "{{ slurm_test_folder }}/test1/output.txt"
  retries: 3
  delay: 10
  register: result
  until: result.rc == 0
