- name: Update SLURM configuration
  hosts: localhost

  vars:
    slurm_partition_name: "{{ slurm_partition_name }}"
{% raw %}
    slurm_conf_file: /etc/slurm/slurm.conf
    slurm_max_cpus: "{{ ansible_processor_vcpus }}"
    restart_on_change: false
    restart_slurm: false

  tasks:

    - ansible.builtin.debug:
        msg: "Run: {{ lookup('pipe', 'date +%Y-%m-%d-%H:%M:%S') }}"

    - name: "Update SLURM ControlMachine={{ ansible_hostname }}"
      become: true
      ansible.builtin.lineinfile:
        dest: "{{ slurm_conf_file }}"
        regexp: '^ControlMachine='
        line: "ControlMachine={{ ansible_hostname }}"
        state: present

    - name: Update SLURM node configuration
      become: true
      ansible.builtin.blockinfile:
        path: "{{ slurm_conf_file }}"
        marker: "# {mark} ANSIBLE MANAGED NODES"
        block: |
          NodeName={{ ansible_hostname }} Sockets={{ ansible_processor_count }} CoresPerSocket={{ ansible_processor_cores }} ThreadsPerCore={{ ansible_processor_threads_per_core }} State=UNKNOWN
          PartitionName={{ slurm_partition_name }} Nodes={{ ansible_hostname }} Default=YES MaxTime=INFINITE State=UP MaxNodes=1 MaxCPUsPerNode={{ slurm_max_cpus }}
        backup: yes
      register: update
    
    - name: Restart Slurm
      when: (update.changed and restart_on_change | bool) or (restart_slurm | bool)
      become: true
      ansible.builtin.service:
        name: "{{ item }}"
        state: restarted
      with_items:
        - slurmctld
        - slurmd
{% endraw %}
