name: CI

on:
  push:
    branches: [master]
    tags:
    - 'v*'
  pull_request:

env:
  galaxy-name: "marvel-nccr.slurm"

jobs:

  pre-commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
    - uses: pre-commit/action@v3.0.1

  molecule:

    strategy:
      matrix:
        distro: [ubuntu2204, ubuntu2404]
      fail-fast: false

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4
      with:
        path: ${{ env.galaxy-name }}

    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'

    - name: Upgrade pip
      run: |
        pip install --upgrade pip
        pip --version

    - name: Install requirements
      run: |
        pip install wheel
        pip install -r requirements.txt
      working-directory: ${{ env.galaxy-name }}

    - name: Run molecule
      run: molecule test
      working-directory: ${{ env.galaxy-name }}
      env:
        MOLECULE_DISTRO: ${{ matrix.distro }}

  release:
    name: Publish to ansible-galaxy
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    needs: [pre-commit, molecule]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: robertdebock/galaxy-action@1.2.1
      with:
        galaxy_api_key: ${{ secrets.GALAXY_TOKEN_MBERCX }}
